/* Base styling for body */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

/* Center-align main heading and introductory paragraph */
h1, p {
  margin: 1em auto;
  text-align: center;
}

/* Form container styling */
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

/* Fieldset styling for form sections */
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

/* Remove bottom border from the last fieldset */
fieldset:last-of-type {
  border-bottom: none;
}

/* Label styling for form fields */
label {
  display: block;
  margin: 0.5rem 0;
}

/* Basic styling for input, textarea, and select elements */
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

/* Styling for text and textarea input fields */
input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

/* Inline class for checkboxes and radio buttons */
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

/* Styling for the submit button */
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
  cursor: pointer;
}

/* File upload input padding */
input[type="file"] {
  padding: 1px 2px;
}

/* Ensure inline elements are displayed in a row */
.inline {
  display: inline;
}
